@charset "utf-8";
/* CSS Document */

body{
/* 	background:#fff; */
	background: -webkit-linear-gradient(left top, #6A81F6, #6CF4EF);
    background: -o-linear-gradient(bottom right, #6A81F6, #6CF4EF);
    background: -moz-linear-gradient(bottom right, #6A81F6, #6CF4EF);
    background: linear-gradient(to bottom right, #6A81F6, #6CF4EF);
}
#container{
	width:100%;
	margin:0 auto;
	border: 2px solid #000;
}

#add_attr {
	float: right;
}

#upload {
	width: 90%;
}

/*header*/
header{
	width:98%;
	height: 20px; 
	padding-top:10px;
	margin-left: 10px;
	margin-right: 10px;
	padding-bottom: 10px;
}

#header_right{
	float:right;
}

/*glavni dio */
#main{
	width: 99%;
	border: 1px solid #000;
	float:left;
}
/*lijevo*/
.gallery{
	float:left;
	overflow-y:scroll;
	border-right: 1px solid #000;
/* 	width:270px; */
	width: 22%;
	height:588px;
}

.pages{
	width:234px;
	height:128px;
	margin: 2% auto 0;
	border: 1px solid #000;
	float: right;
	margin-right: 10px;
	margin-bottom: 10px;
	clear: right;
}
.delete_slide{
	float:right;
	width:20px;
	vertical-align:middle;
}

.move_slide{
	float:left;
	margin-left: 5px;
	margin-top: 30px;
}

.delete_slide button {
	margin: 45px auto auto -40px;
}

.move_slide button {
	margin-bottom: 2px;
}

.slide_image{
	float:right;
	width:50%;
	margin-right:40px;
}
.pages .slide_image img {
	height: 80px;
    margin-left: 20px;
    margin-top: 10px;
    text-align: center;
    width: 80px;
}
.slide_image .slide_number {
	margin-left: 30px;
    position: relative;
    text-align: center;
    width: 100%;
}
.slide_image .slide_number input{
	margin-top: 3px;
	width: 35px;
	margin-left: -60px;
}
.second .slide_image img {
	height: 80px;
    margin-left: 5px;
    margin-top: 10px;
    text-align: center;
    width: 80px;
}

/*sredina*/
#center{
	float:left;
	width: 55%;
	height:588px;
}
#center #center_main {
	width: 100%;
	height: 300px;
	margin: 2% 2% 2% 0%;
	border: 1px solid #000;
}
#center #center_main #center_main_image {
	border: 1px solid #000;
    height: 143px;
    margin: 30px auto 20px;
    text-align: center;
    width: 613px;
}
#center #center_main #center_main_image img{
	margin-top: 15px;
    width: 240px;
	height: 120px;
}
#center #center_main #center_main_text {
	width:100%;
	float:left;
}
#center #center_main #center_main_text #center_main_text_button {
	float: left;
    margin-top: 10px;
    text-align: center;
    width: 15%;
}
#center #center_main #center_main_text #center_main_text_button button{
	text-align:center;
}
#center #center_main #center_center_text{
	width:70%;
	margin:0 auto;
	float:left;
}
#center #center_main #center_center_text input{
	width:100%;
	margin-top:5px;
}

#center #center_main_info {
	height: 140px;
	margin: 30px 20px;
	border: 1px solid #000;
}

.half {
    float: left;
    height: 120px;
    padding-left: 20px;
    padding-top: 8px;
}
.first_half {
	width: 55%;
	margin-top: 40px;
	height: 80px;
}
.second_half {
	width: 38%;
}

#resource {
	margin-left: 5px;
	margin-top: 8px;
	float: left;
}

.half_text {
	font-size:14px;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:10px;
	padding-left:0px;
}
.half input, select{
	margin: 0px 0px 10px 0px;
}

.half .short {
	width:100px;
	margin-bottom: 10px;
}
.half table{
	border: 1px solid #ccc;
	width:95%;
}
.table {
	overflow-y:scroll;
}
.half table tr{
	width:100%;
}
.half table .first_col{
	width:30%;
	padding:5px;
	border: 1px solid #ccc;
}
.half table .second_col{
	width:65%;
	padding:5px;
	border: 1px solid #ccc;
}
.half table th{
	text-align:center;
	font-size:bold;
}

/*desno*/
#right{
	float:right;
/* 	width:270px; */
 	width: 22%;
	height:588px;
	border-left: 1px solid #000;
}
.right_input {
	float: left;
    padding: 5px;
	margin: 8px 0;
    text-align: center;
    width: 100%;
}
.right_input_text {
	font-size:14px;
	padding:10px;
}
.first_div{
	padding-top:10px;
}
.two_divs {
	float:left;
	margin-left: 30px;
    width: 80%;
}
#qr_code_preview {
    float: left;
    height: 53px;
    margin: 10px;
    width: 94px;
}
.two_divs button {
	float: left;
    margin-top: 40px;
}
.slider {
	width:80%;
	text-align:center;
	margin-left:20px;
}
.slider_value {
	margin: 10px;
    width: 40px;
}
#slider{
	width:60%;
	float:left;
}
#outline_slider{
	margin-left:10px;
}
.text_slider{
	float:left;
	margin-left: 10px;
	margin-right: 10px;
}
.left_align{
	text-align:left;
	margin-left:20px;
	width:70%;
}

#saveGalleryAttributes {
	float: right;
	margin-top: 3%;
}

.selected:not(.gallery) {
	border: 5px solid #00006f;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

#transparency{
	width: 40px;
	text-align: center;
	margin-top: 5px;
}

.ws-number {
		text-align: center;
}